youtube-transcript-api
yt-dlp
pytube
langchain_community
scrapetube
langchain==0.2.16
langchain_openai
langchain_core
langchain-ai21
langchain-cli
langchain-anthropic
langchain-pinecone
langsmith
freezegun
python-dotenv
pinecone-client
pinecone-client[grpc]
pinecone
pytest
pytest-asyncio
pytest-timeout
psycopg2
pandas
bs4
ragas
streamlit
asyncio
aiohttp
streamlit
openai
anthropic
fastapi[all]
fastapi-limiter
redis
pydantic
tiktoken