youtube-transcript-api
yt-dlp
pytube
langchain_community
scrapetube
langchain_openai
langchain-ai21
langchain-cli
langserve[all]
python-dotenv
pinecone-client
pinecone-client[grpc]
pinecone
pytest
pytest-timeout
schedule
