asyncio
fastapi[all]
fastapi-limiter
pandas
langchain==0.2.16
langchain_openai
langsmith
langchain_anthropic
langchain_pinecone
langchain_core
tiktoken
pinecone
python-dotenv
ragas
pytest
pytest-timeout
pydantic
redis